@media (min-width: 300px) and (max-width: 780px) {
  

 html { 
  background-color: black;
 }

  body { 
    background: linear-gradient(180deg, #4D0059 0%, rgba(2, 41, 78, 0.79) 100%);

}
    .hero { 
      margin-top:200px; 
    }




    .hero >h2 { 
   
      width:160%; 
    }

    .aboutoverlay { 
      margin-top:100%; 
    }
    
    
    .activeham { 
      display:none; 
    }
    

    #ham {
        display:block; 
    }
        .wrapper { 
            display:none; 
        }
    
    

    p { 
       padding-left:0; 
       padding-right:0; 
       
    }
    
    #inputwrapper {
        width:100%;
        margin-left:0; 
    }
    
    .tech { 
        height:2000px; 
        background-image: url("./assets/starbg/starry-small.jpg");
        margin-top:25%; 
        width:100%; 
        
    }

  
    .cardbottom { 
        height:50%; 
 
        color:rgb(5, 2, 2); 
        padding:5%; 
     
    }
   
  
  
    
     .icon {
        margin-top:2%; 
        height:60px; 
        left:0%; 
     }
    
  
  
        .mainpic { 
            content:url("./assets/profilepics/profilepicnewsmallphone.jpg");
            height:30%;
           margin-top:10%; 
            border-radius: 50%; 
            width:45%; 
          
            z-index: 0;
            background-color: green;
            min-width:200px; 
            top:25%; 
            
        }
    
      
    
        .cards {
            width:100%;
            margin-left:10px; 
        
            
        }
    
        .card { 
            width:70%; 
            margin-top:30%; 
           
        }
       
       
       
      .buttonwrapper { 
        width:100%; 
        height:70%; 
      
      
      }

      
      a { 
        color:rgb(237, 230, 243); 
      }
  
      a:hover { 
        color:lightblue;
      }

    }


      @media (min-width: 360) and (max-width: 780px) {
      
        
        .mainpic { 
        content:url("./assets/profilepics/profilepicnewlargephone.jpg");
       }

       .tech { 
        background-image: url("./assets/starbg/starrylargephone.jpg");
       }

      }
      
      @media (min-width: 780px)  {
        

        .wrapper { 
            display:flex; 
        }
    
      

        .card { 
            width:30%; 
        }
        body { 
           background: linear-gradient(180deg, #4D0059 0%, rgba(2, 41, 78, 0.79) 100%);
           
           background-size: cover;
         
        }

     
      

      .hero > h1 { 
        font-size: 5rem;
        width:120%; 
        line-height:1;
        margin-top:-20%; 
        
      }

      .hero > h2 { 
        width:120%; 
        font-size: 2rem;
        line-height:1; 
        width:100%;
     
        margin-top:-15%;
      }
        .mainpic { 
         content:url("./assets/profilepics/profilepicnewdesktop.jpg");
         width:30%; 
         height:70%; 
        }
 
        .tech { 
         background-image: url("./assets/starbg/starry2k.jpg");
        }
 
        #ham {
            height:80%; 
            padding-top:5px; 
            position:absolute; 
            right:10%; 
            display:none; 
        }

        a { 
            color:white; 
        }

        

       }

    
       @media (min-width: 1100px)  {

        

        body { 
          background: linear-gradient(180deg, #4D0059 0%, rgba(2, 41, 78, 0.79) 100%);
      
      }

    
        
         .mainpic { 
            content:url("./assets/profilepics/profilepicnewdesktop.jpg");
            width:40%; 
            height:85%; 
            top:25%;
           }

           .hero > h1 { 
            font-size: 5rem;
            line-height: 1;
           }

           .hero > h2 { 
            font-size:3rem;
            line-height: 1;
            margin-top:-35px; 
        
           }
     
          

           .card { 
            width:40%; 
           }

           .icon { 
            display:block; 
           }

           .tech { 
            background-image: url("./assets/starbg/starry-laptop.jpg");
           }
      
           .wrapper > a {
            color:white;
           }

         

           .cardtop { 
            background-color: 	#4c94f6;
           }
           
           .buttonwrapper { 
         
           margin-top:10%; 
           }


        }