@media (min-width:300px) and (max-width:700px){
  #design1 { 
    content:url("./assets/designsmall1.jpg")
   }

   #design2 { 
     content:url("./assets/designsmall2.jpg")
    }

    #design3{ 
     content:url("./assets/designsmall3.jpg")
    }

}

@media (min-width:700px){
  #design1 { 
    content:url("./assets/design1.jpg")
   }

   #design2 { 
     content:url("./assets/design2.jpg")
    }

    #design3{ 
     content:url("./assets/design3.jpg")
    }

}


@media (min-width: 300px) and (max-width: 1100px) {
  

 html { 
  background-color: black;
 }

  body { 
    background:  #4D0059; 

}
   
.screenshot { 
  width:100%; 
  height:50%; 
}
    #wave{
      content:url("./assets/mobilewave.png");
      height:150%; 
      position:absolute; 
      left:0; 
      width:100vw; 
      bottom:-700px; 
      z-index: 0;
  }


  .hero { 
    margin-top:15%; 
  }
    .hero  >h1{
    z-index: 3;
    font-size:28px; 
    color:white; 
    width:80%; 
    line-height: 1.2;
    
    }

    #designs { 
      margin-top:40%; 
      height:200vh; 
    }
    .design { 
      width:90%; 
    }

    .hero >h2 {
      width:80%; 
     font-size:22px; 
     margin-top:10%;
     font-weight: 500;
    }
  
   
    .aboutoverlay { 
      margin-top:100%; 
    }
    
    
    .activeham { 
      display:none; 
    }
    

    #ham {
        display:block; 
    }
        .wrapper { 
            display:none; 
        }
    
    

    p { 
       padding-left:0; 
       padding-right:0; 
       
    }
    
    #inputwrapper {
        width:100%;
        margin-left:0; 
    }
    
    .tech { 
        height:2000px; 
        background-image: url("./assets/starbg/starry-small.jpg");
        margin-top:25%; 
        width:100%; 
        
    }

  
    .cardbottom { 
        height:50%; 
 
        color:rgb(5, 2, 2); 
        padding:5%; 
     
    }
   
  
  
    
     .icon {
        margin-top:2%; 
        height:60px; 
        left:0%; 
     }
    
  
     .hero { 
      display:flex; 
      flex-direction: column;

      width:100vw; 
      
     }
  
        .mainpic { 
            content:url("./assets/profilepics/profilepicnewsmallphone2.jpg");
            
            top:25%; 
           border-radius: 5%;
           width:60%; 
        
          margin-top:5%
          
            
        }

      
    
        .cards {
            width:100%;
            margin-left:10px; 
           margin-bottom:5%; 
        
            
        }
    
        .card { 
            width:70%; 
            margin-top:30%; 
           
        }
       
       
       
      .buttonwrapper { 
        width:100%; 
        height:70%; 
      
      
      }

      
      a { 
        color:rgb(237, 230, 243); 
      }
  
      a:hover { 
        color:lightblue;
      }

    }


      @media (min-width: 360px) and (max-width: 1100px) {
      
        
        .mainpic { 
        content:url("./assets/profilepics/profilepicnewsmallphone2.jpg");
       
       }

       .tech { 
        background-image: url("./assets/starbg/starrylargephone.jpg");
       }

      }
      
      @media (min-width: 780px)  {
        

        .wrapper { 
            display:flex; 
        }
    
               
   
        .card { 
            width:30%; 
        }
        body { 
           background:  #4D0059; 
     
         
        }

     
      

    

      .hero > h2 { 
        width:120%; 
        font-size: 2rem;
   
        width:100%;
     
        margin-top:-15%;
      }
        .mainpic { 
         content:url("./assets/profilepics/profilepicnewdesktop.jpg");
         width:30%; 
         height:70%; 
        }
 
        .tech { 
         background-image: url("./assets/starbg/starry2k.jpg");
        }
 
        #ham {
            height:80%; 
            padding-top:5px; 
            position:absolute; 
            right:10%; 
            display:none; 
        }

        a { 
            color:white; 
        }

        

       }


       @media (min-width: 530px)  {
       #designs { 
        margin-top:60%; 
        height:260vh; 
      }

    }
    
       @media (min-width: 1100px)  {

        #designs{
          height:300vh; 
          margin-top:20%; 
          
        }

 
        #designs >h1 {
          font-size:65px; 
        
        }
        #designs > p { 
          font-size:25px; 
          margin-bottom:20px; 
       
         
        }

        
 

        body { 
          background: #4D0059; 
      
      }

    #wave { 
      content:url("./assets/wave.png");
      height:170%; 
      position:absolute; 
      left:0; 
      width:100vw; 
      bottom:-440px; 
      z-index: -1;
    }
        
  



         .mainpic { 
            content:url("./assets/profilepics/profilepicnewdesktop.jpg");
            width:60%; 
            height:125%; 
            top:-10%;
            position:absolute; 
            left:100%; 
            border-radius: 10%;
           }

           .hero > h1 { 
            font-size: 5rem;
           
      
            margin-top:-140px; 
           }

           .hero > h2 { 
            font-size:2rem;
          
            margin-top:-35px; 
        
           }
     
          

           .card { 
            width:20%; 
           }

           .icon { 
            display:block; 
           }

           .tech { 
            background-image: url("./assets/starbg/starry-laptop.jpg");
           }
      
           .wrapper > a {
            color:white;
           }

         

           .cardtop { 
            background-color: 	#4c94f6;
           }
           
           .buttonwrapper { 
         
           margin-top:10%; 
           }


        }

     